<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertLevel</key>
	<integer>4500</integer>
	<key>warningLevel</key>
	<integer>4000</integer>
	<key>firstRun</key>
	<true/>
</dict>
</plist>
